@using System.Reflection;
@using DyTestor.DataObject;
@{
    Layout = null;
    PropertyInfo[] properties = typeof(QRCodeDataObject).GetProperties();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1 class="page-header">List of QRCode<span style="font-size:18px;float:right;line-height:68px;">Total:@ViewBag.Total items</span></h1>
        
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    @foreach (PropertyInfo property in properties)
                    {
                        <th>@property.Name</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (QRCodeDataObject code in ViewBag.QRList)
                {
                    <tr>
                        @foreach (PropertyInfo property in properties)
                        {
                            <td>@property.GetValue(code)</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <div style="text-align:right;">
            <span>@(ViewBag.PageNo + " of " + ViewBag.PageCount)</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span>@(ViewBag.PageSize + " items/page")</span>

        </div>
        <ul class="pager">
            @{ 
                if (ViewBag.PageNo < ViewBag.PageCount)
                {
                    <li class="next">                
                        <a href="/home/index?pageno=@(ViewBag.PageNo+1)">Next &rarr;</a>
                    </li>
                }
                if (ViewBag.PageNo > 1)
                {
                    <li class="next">
                        <a href="/home/index?pageno=@(ViewBag.PageNo-1)">&larr; Previous</a>
                    </li>
                    }
                }
        </ul>
    </div>
</body>
</html>
